version: "3.4"

services:
    armadillo:
        hostname: armadillo
        image: datashield/armadillo_citest:1.1.0
        environment:
            DEBUG: "FALSE"
        ports:
            - 8080:8080

    citest_rserver:
        hostname: citest_rserver
        image: datashield/armadillo-rserver_ionic-babel:1.0.0
        environment:
            DEBUG: "FALSE"
        ports:
            - 6311:6311
