services:
    armadillo:
        hostname: armadillo
        ports:
            - 8080:8080
        image: datashield/armadillo_citest:4.8.1
        environment:
            LOGGING_CONFIG: 'classpath:logback-file.xml'
            AUDIT_LOG_PATH: '/app/logs/audit.log'
            SPRING_SECURITY_USER_PASSWORD: 'admin'
            DEBUG: "FALSE"
        volumes:
            - ./tests/docker/armadillo/standard/logs:/logs
            - ./tests/docker/armadillo/standard/data:/data
            - ./tests/docker/armadillo/standard/config:/config
            - /var/run/docker.sock:/var/run/docker.sock

    default:
        hostname: default
        image: datashield/rock-junction-devel-permissive:latest
        environment:
            DEBUG: "FALSE"
