export(ds.asCharacter)
export(ds.asFactor)
export(ds.asList)
export(ds.asMatrix)
export(ds.asNumeric)
export(ds.assign)
export(ds.c)
export(ds.cbind)
export(ds.changeRefGroup)
export(ds.class)
export(ds.colnames)
export(ds.completeCases)
export(ds.contourPlot)
export(ds.cor)
export(ds.corTest)
export(ds.cov)
export(ds.dataframe)
export(ds.densityGrid)
export(ds.dim)
export(ds.exists)
export(ds.exp)
export(ds.heatmapPlot)
export(ds.isNA)
export(ds.isValid)
export(ds.length)
export(ds.levels)
export(ds.list)
export(ds.log)
export(ds.mean)
export(ds.meanByClass)
export(ds.names)
export(ds.product)
export(ds.quantilemean)
export(ds.recodeLevels)
export(ds.rowcolCalc)
export(ds.subclass)
export(ds.subset)
export(ds.sum)
export(ds.summary)
export(ds.t.test)
export(ds.table1d)
export(ds.table2d)
export(ds.var)
