export(ds.NROW)
export(ds.asCharacter)
export(ds.asFactor)
export(ds.asList)
export(ds.asMatrix)
export(ds.asNull)
export(ds.asNumeric)
export(ds.assign)
export(ds.c)
export(ds.cbind)
export(ds.changerefgroup)
export(ds.checkvar)
export(ds.class)
export(ds.colnames)
export(ds.complete.cases)
export(ds.contourplot)
export(ds.cor)
export(ds.corTest)
export(ds.cov)
export(ds.data.frame)
export(ds.densitygrid)
export(ds.dim)
export(ds.exists)
export(ds.exp)
export(ds.heatmapplot)
export(ds.histogram)
export(ds.inform)
export(ds.is.character)
export(ds.is.factor)
export(ds.is.null)
export(ds.is.numeric)
export(ds.isNA)
export(ds.isPresent)
export(ds.isValid)
export(ds.length)
export(ds.levels)
export(ds.list)
export(ds.log)
export(ds.mean)
export(ds.meanByClass)
export(ds.names)
export(ds.product)
export(ds.quantilemean)
export(ds.recodeLevels)
export(ds.rowcolCalc)
export(ds.subclass)
export(ds.subset)
export(ds.sum)
export(ds.summary)
export(ds.t.test)
export(ds.table1d)
export(ds.table2d)
export(ds.var)
