# Copyright (c) 2024 Arjuna Technologies, Newcastle upon Tyne. All rights reserved.

version: 2.1

jobs:
  dsbaseclient:
    docker:
      - image: cimg/base:current
    resource_class: small
    steps:
      - checkout
      - setup_remote_docker:
          docker_layout_caching: true
      - run: |
          echo "Building"
          echo "  Repo Name: " $CIRCLE_PROJECT_REPONAME
          echo "  Branch:    " $CIRCLE_BRANCH
          echo "  Tag:       " $CIRCLE_TAG
      - run:
          command: |
              sudo apt-get update -y
              sudo apt-get install -y r-base-core cmake
      - run:
          command: |
              sudo apt-get install -y libxml2-dev libcurl4-openssl-dev libssl-dev libgsl-dev libgit2-dev
              sudo apt-get install -y libharfbuzz-dev libfribidi-dev libmagick++-dev
      - run:
          command: |
              sudo Rscript -e "install.packages('devtools', dependencies=TRUE)"
              sudo Rscript -e "install.packages('covr', dependencies=TRUE)"

              sudo Rscript -e "install.packages('fields', dependencies=TRUE)"
              sudo Rscript -e "install.packages('meta', dependencies=TRUE)"
              sudo Rscript -e "install.packages('metafor', dependencies=TRUE)"
              sudo Rscript -e "install.packages('ggplot2', dependencies=TRUE)"
              sudo Rscript -e "install.packages('gridExtra', dependencies=TRUE)"
              sudo Rscript -e "install.packages('data.table', dependencies=TRUE)"
              sudo Rscript -e "install.packages('panelaggregation', dependencies=TRUE)"

              sudo Rscript -e "install.packages('DSI', dependencies=TRUE)"
              sudo Rscript -e "install.packages('DSOpal', dependencies=TRUE)"
              sudo Rscript -e "install.packages('DSLite', dependencies=TRUE)"
              sudo Rscript -e "install.packages('MolgenisAuth', dependencies=TRUE)"
              sudo Rscript -e "install.packages('MolgenisArmadillo', dependencies=TRUE)"
              sudo Rscript -e "install.packages('DSMolgenisArmadillo', dependencies=TRUE)"
              sudo Rscript -e "install.packages('DescTools', dependencies=TRUE)"
              sudo Rscript -e "install.packages('e1071', dependencies=TRUE)"

              sudo Rscript -e "install.packages('RANN', dependencies=TRUE)"
              sudo Rscript -e "install.packages('stringr', dependencies=TRUE)"
              sudo Rscript -e "install.packages('lme4', dependencies=TRUE)"
              sudo Rscript -e "install.packages('dplyr', dependencies=TRUE)"
              sudo Rscript -e "install.packages('reshape2', dependencies=TRUE)"
              sudo Rscript -e "install.packages('polycor', dependencies=TRUE)"
              sudo Rscript -e "install.packages('splines', dependencies=TRUE)"
              sudo Rscript -e "install.packages('gamlss', dependencies=TRUE)"
              sudo Rscript -e "install.packages('gamlss.dist', dependencies=TRUE)"
              sudo Rscript -e "install.packages('mice', dependencies=TRUE)"
              sudo Rscript -e "install.packages('childsds', dependencies=TRUE)"
              sudo Rscript -e "install.packages('xml2', dependencies=TRUE)"
              sudo Rscript -e "install.packages('covr', dependencies=TRUE)"
      - run:
          command: |
              sudo Rscript -e 'library(covr); options("default_driver"="OpalDriver"); covr::codecov(token="'$CODECOV_TOKEN'", quiet=FALSE)'
workflows:
  build:
    jobs:
      - dsbaseclient
